/*/*.iws
/*/*.war
/*/.classpath
/*/.DS_Store
/*/.project
/*/.settings
/*/*.launch
/*/*.tmproj
/*/out/**
/*/stacktrace.log
/*/test/reports
/*/test-reports
/*/target
/*/target-eclipse
/*/eclipse
/*/ivy*
/*/*.zip
/*/plugins
/*/web-app/plugins
/*/web-app/WEB-INF/*
.metadata
Servers/
DataSource.groovy
/*/cobertura.ser
*.orig
/*/.link_to_grails_plugins
grails-base-common.properties
web-images
grails-base-config.properties
/hythloday-mobile/merges/
/hythloday-mobile/platforms/
/hythloday-mobile/plugins/
npm-debug.log
*.css
*.html
*.swp
