.add-new-activity
    form.new-activity-form(ng-controller="newActivityCtrl", ng-submit="processForm()")
        fieldset
            label.
                Título de la actividad
            input(ng-model="form.title", type="text", name="title", placeholder="¿Qué te apetece compartir?", required)
        fieldset
            label.
                Fecha
            input(ng-model="form.date", type="date", name="date", value="{{ date }}", required)
        fieldset
            label.
                Categoría
            select(ng-model="form.category", ng-options="category.name for category in categories", name="category")
              option(value="") Elige una categoría
        fieldset
            label.localization.
                Localización
            select.zones(ng-model="form.zone", name="zone", ng-options="zone.name for zone in zones")
              option(value="") Elige una zona
   
        fieldset
            label.
                Descripción
            textarea(ng-model="form.description", placeholder="Cuéntanos más sobre la actividad", required, name="description")
        input(type="hidden", value="23", name="userId")
        input(type="submit", id="submit", value="Enviar")