.add-new-activity
    form.new-activity-form(ng-controller="newActivityCtrl", ng-submit="processForm()")
        fieldset
            label.
                Título de la actividad
            input(ng-model="form.title", type="text", name="title", placeholder="¿Qué te apetece compartir?", required)
        fieldset
            label.
                Fecha
            input(ng-model="form.date", type="date", name="date", value="{{ date }}", required)
        fieldset
            label.
                Categoría
            select(ng-model="form.categoryId", name="categoryId")
                option(ng-repeat="category in categories", value="{{ category.id }}") {{ category.name }}
        fieldset
            label.localization.
                Localización
            select.zones(ng-model="form.zoneId", name="zoneId")
                option(ng-repeat="zone in zones", value="{{ zone.id }}") {{ zone.name }}
        fieldset
            label.
                Descripción
            textarea(ng-model="form.description", placeholder="Cuéntanos más sobre la actividad", required, name="description")
        input(type="hidden", value="7", name="userId")
        input(type="submit", id="submit", value="Enviar")