
<div class="single-page clearfix">
  <div class="single-data-top">
    <div class="user-data"><img src="{{activity.userAvatar}}" alt="User Avatar"/><span>   {{activity.userName}}</span></div>
    <div class="activity-data">
      <h2 class="activity-title">{{activity.title}}</h2>
      <div class="activity-time"><img src="/images/clock.png" alt="Horario de la actividad"/><span>La actividad se desarrollará el <strong> {{activity.date|timelineDate}}</strong></span></div>
      <p class="activity-description">
        {{activity.description}}
        
      </p>
    </div>
  </div>
  <div class="single-comments">
    <div class="comments-num">{{comments.length}} comentarios</div>
    <div class="user-comment">
      <div class="user-data"><img src="/images/user_avatar.svg" alt="User Avatar"/><span>   Username</span></div>
      <form ng-submit="submitComment()" class="user-comment-input">
        <div class="comment-area">
          <textarea placeholder="Escribe un comentario" name="text" required="required" ng-model="comment"></textarea>
        </div>
        <input type="submit" class="button"/>
      </form>
    </div>
    <div class="other-comments">
      <div ng-repeat="comment in comments" class="single-other-comment">
        <div class="user-avatar"><img src="{{comment.userAvatar}}" alt="User Avatar"/></div>
        <div class="user-comment-text">
          <p class="user-data"><strong>{{comment.userName}}</strong> hace {{comment.date|commentDate}}</p>
          <p class="comment">{{comment.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>