.single-page.clearfix
    .single-data-top
        .user-data
            img(ng-src="{{activity.userAvatar}}", alt="User Avatar")
            span    {{activity.userName}}
        .activity-data
            h2.activity-title
              {{activity.title}}
            .activity-time(ng-if="activity.date")
                    img(src="/images/clock.png", alt="Horario de la actividad")
                    span
                        La actividad se desarrollará el <strong> {{activity.date|timelineDate}}</strong>
            p.activity-description(ng-bind-html="activity.description|nl2br")

    .single-comments
        .comments-num.
            {{comments.length}} comentarios
        .user-comment
            .user-data
                img(ng-src="{{currentUser.avatar}}", alt="User Avatar")
                span    {{currentUser.name}}
            form.user-comment-input(ng-submit="submitComment()")
                .comment-area
                    textarea(placeholder="Escribe un comentario", name='text', required, ng-model='comment')
                input(type="submit", class="button") Comenta
        .other-comments
            .single-other-comment(ng-repeat="comment in comments")
                .user-avatar
                    img(ng-src="{{comment.userAvatar}}", alt="User Avatar")
                .user-comment-text
                    p.user-data
                        <strong>{{comment.userName}}</strong> {{comment.date|commentDate}}
                    p.comment(ng-bind-html="comment.text|nl2br")