
<ul class="category-menu clearfix">
  <li ng-repeat="category in categories" ng-class="{selected: category.selected}">
    <div><a ng-click="go('category', [category.id])">{{category.name}}</a></div>
  </li>
</ul>
<div class="clearfix content-wrapper">
  <div ng-repeat="activity in activities" class="single-activity">
    <div class="user-data"><img ng-src="{{activity.userAvatar}}" alt="User Avatar"/><span>{{activity.userName}}</span></div>
    <div class="activity-data">
      <h2 class="activity-title"><a ng-click="go('activity', [activity.id])" title="{{activity.title}}">{{activity.title}}</a></h2>
      <p class="activity-description">{{activity.description}}</p>
      <div ng-if="activity.date" class="activity-time"><img src="/images/clock.png" alt="Horario de la actividad"/><span>
          <La>actividad se desarrollará el <strong> {{activity.date|timelineDate}} </strong></La></span></div>
    </div>
  </div>
</div>