ul.category-menu.clearfix
  li(ng-repeat="category in categories", ng-class="{selected: category.selected}")
    div
      a(href="{{urls('category', [category.id])}}") {{category.name}}

.clearfix.content-wrapper
  .single-activity(ng-repeat="activity in activities")
      .user-data
          img(src="{{activity.userAvatar}}", alt="User Avatar")
          span {{activity.userName}}
      .activity-data
          h2.activity-title
              a(href="{{urls('activity', [activity.id])}}", title="{{activity.title}}").
                  {{activity.title}}
          p.activity-description.
            {{activity.description}}
          .activity-time(ng-if="activity.date")
              img(src="/images/clock.png", alt="Horario de la actividad")
              
              span
                  La actividad se desarrollará el <strong> {{activity.date|timelineDate}} </strong>
