
<ul class="category-menu clearfix">
  <li ng-repeat="category in categories" ng-class="{selected: category.selected}" ng-cloak="ng-cloak">
    <div><a href="{{urls('category', [category.id])}}">{{category.name}}</a></div>
  </li>
</ul>
<div class="single-activity clearfix content-wrapper">
  <div class="user-data"><img src="/images/user_avatar.svg" alt="User Avatar"/><span>   Username</span></div>
  <div class="activity-data">
    <h2 class="activity-title"><a href="#" title="Ruta con raquetas de nieve por la montaña">Ruta con raquetas de nieve por la montaña</a></h2>
    <p class="activity-description">
      En cuanto a la cesta de compra, en ambas ciudades hay tiendas de comestibles económicas donde comprar frutas
      y verduras, supermecados a montones (yo no suelo comprar mucho en supermercado pero los precios son los mismos
      en el súper de Oviedo que en el mismo súper de Gijón) y mercado los domingos: en Oviedo el Fontán (ropa, plantas)
      y en Gijón el Rastro (comida, plantas,
    </p>
    <div class="activity-time"><img src="/images/clock.png" alt="Horario de la actividad"/><span>La actividad se desarrollará el <strong> martes 14 de diciembre a las 17.00 </strong></span></div>
  </div>
</div>