<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js iem7">
<![endif]-->
<html lang="en" class="no-js">
  <!-- <![endif]-->
  <head>
    <title>  Hythloday</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="styles/b52d9fbd.main.css"/>
  </head>
  <body ng-app="hythlodayApp">
    <div ng-show="sideMenu" class="menu">
      <div class="user-info clearfix"><img src="{{currentUser.avatar}}">
        <div class="right">
          <h2>{{currentUser.name}}</h2>
          <h3>You are currently in {{localization}}</h3>
        </div>
      </div>
      <div class="options">
        <h2>Options</h2>
        <ul>
          <li><a href="{{urls('newActivity')}}">HAZ UNA PROPUESTA</a></li>
          <li ng-controller="LocalizationCtrl" class="geo"><a href="" ng-click="setLocalization()">LOCALÍZATE [<span>{{localization}}</span>]</a></li>
        </ul>
      </div>
    </div>
    <div ng-class="{&quot;menued&quot;:sideMenu==true}" class="wrapper">
      <div class="perspective">
        <div class="top-bar clearfix"><a href="" ng-click="sideMenu = !sideMenu" ng-class="{&quot;active&quot;:sideMenu==true}" class="menu-btn"><span class="lines"></span></a>
          <h1><a href="/#" title="Hythlodæus">Hythlodæus</a></h1>
          <div class="localization"><a href="" title="localízate" class="localization-btn">{{localization}}<img src="/images/2d28525d.localization.svg" alt="localizate"></a></div>
        </div>
        <div ng-view="" class="container"></div>
      </div>
    </div>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment-with-langs.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/f8dc454d.modules.js"></script>
    <script src="scripts/bf486621.scripts.js"></script>
  </body>
</html>