fieldset {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

label {
    display: block;
}

input, textarea {
    border: 0;
    outline: 0;
}

.add-new-activity {
    padding: 25px 4%;
    font-family: "Roboto";
    width: 80%;
    label {
        font-size: 1rem;
        &.localization {
            display: inline;
        }
    }
    input, textarea, select {
        font-size: 1.6rem;
        margin:15px;
        padding: 5px;
        width: 95%;
        border-bottom: 1px solid #CCC;
        clear: both;
        transition: all .3s ease-in;
        &:focus {
            border-bottom: 1px solid #ff8800;
            transition: all .3s ease-in;
        }
    }
    select {
        border: none;
        background: #FCFCFC;
        transition: all .3s ease-in;
        &:focus {
            border-bottom: 1px solid #ff8800;
            transition: all .3s ease-in;
            outline: none;
            outline-offset: 0;
        }
    }
    .current-localization {
        margin-left: 15px;
        color: darken(#CCC, 30%);
        text-decoration: none;
        &:after{
            content:" ]";
        }
        &:before {
            content:"[ ";
        }
    }
    textarea {
    }
    input[type="submit" ] {
        padding: 15px;
        background: #ff8800;
        color: #FFF;
    }
}