/* ===========================================================================
 * Timeline
 * =========================================================================== */
/* line 9, detail.scss */
.single-page {
  padding: 25px 0;
}

/* line 14, detail.scss */
.single-data-top .user-data {
  width: 100px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  padding-top: 8px;
}
/* line 20, detail.scss */
.single-data-top .user-data img {
  border: 1px solid #f1f1f1;
  display: block;
  -webkit-box-shadow: #cccccc 0px 0px 6px;
  -moz-box-shadow: #cccccc 0px 0px 6px;
  box-shadow: #cccccc 0px 0px 6px;
}
/* line 25, detail.scss */
.single-data-top .user-data span {
  display: block;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
/* line 32, detail.scss */
.single-data-top .activity-time {
  color: #4d4d4d;
}
/* line 34, detail.scss */
.single-data-top .activity-time img {
  width: 2%;
  height: 2%;
  margin-right: 10px;
  color: #ff8800;
  vertical-align: top;
}
/* line 42, detail.scss */
.single-data-top .activity-data {
  width: 70%;
  display: inline-block;
}
/* line 45, detail.scss */
.single-data-top .activity-data h2.activity-title {
  margin: 0 0 15px 0;
}
/* line 47, detail.scss */
.single-data-top .activity-data h2.activity-title a {
  text-decoration: none;
  color: #333;
}
/* line 50, detail.scss */
.single-data-top .activity-data h2.activity-title a:hover {
  color: #999;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 58, detail.scss */
.single-data-top .activity-data .activity-description {
  color: #999;
  font-size: 14px;
  margin: 0;
}

/* line 66, detail.scss */
.single-comments {
  width: 70%;
  margin: 50px 0 0 100px;
}
/* line 69, detail.scss */
.single-comments .comments-num {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

/* line 77, detail.scss */
.user-comment .user-data {
  width: 100px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  padding-top: 8px;
}
/* line 83, detail.scss */
.user-comment .user-data img {
  border: 1px solid #f1f1f1;
  display: block;
}
/* line 87, detail.scss */
.user-comment .user-data span {
  display: block;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
/* line 94, detail.scss */
.user-comment .user-comment-input {
  display: inline-block;
  width: 80%;
}
/* line 97, detail.scss */
.user-comment .user-comment-input .comment-area {
  border: 1px solid #ccc;
  padding: 2px;
  position: relative;
  background: #FFF;
}
/* line 102, detail.scss */
.user-comment .user-comment-input .comment-area:after, .user-comment .user-comment-input .comment-area:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 112, detail.scss */
.user-comment .user-comment-input .comment-area:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #FFF;
  border-width: 10px;
  margin-top: -10px;
}
/* line 118, detail.scss */
.user-comment .user-comment-input .comment-area:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #CCC;
  border-width: 11px;
  margin-top: -11px;
}
/* line 125, detail.scss */
.user-comment .user-comment-input textarea {
  width: 99%;
  height: 90px;
  outline: 0;
  border: none;
}
/* line 131, detail.scss */
.user-comment .user-comment-input .button {
  padding: 6px 40px;
  background: #ff8800;
  color: #FFF;
  display: block;
  text-decoration: none;
  text-align: center;
}
/* line 138, detail.scss */
.user-comment .user-comment-input .button:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background: #cc6d00;
}

/* line 147, detail.scss */
.other-comments {
  margin-top: 40px;
}

/* line 151, detail.scss */
.single-other-comment .user-avatar {
  width: 100px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  padding-top: 8px;
}
/* line 157, detail.scss */
.single-other-comment .user-avatar img {
  border: 1px solid #f1f1f1;
  display: block;
}
/* line 162, detail.scss */
.single-other-comment .user-comment-text {
  display: inline-block;
  width: 80%;
}
/* line 165, detail.scss */
.single-other-comment .user-comment-text p {
  margin: 5px 0;
}
/* line 167, detail.scss */
.single-other-comment .user-comment-text p.user-data {
  color: #333;
}
/* line 170, detail.scss */
.single-other-comment .user-comment-text p.comment {
  color: #999;
  font-size: 14px;
}
