/* line 5, layout.scss */
.top-bar {
  background-color: #ff8800;
  padding: 0.5%;
}
/* line 10, layout.scss */
.top-bar .menu-btn {
  width: 2.5rem;
  height: 2rem;
  display: inline-block;
  position: relative;
  left: 15px;
  top: 2px;
  transition: all .1s ease-out;
}
/* line 19, layout.scss */
.top-bar .menu-btn:hover span {
  display: block;
  height: 6px;
  background: rgba(255, 255, 255, 0);
  position: relative;
  top: 50%;
  margin-top: -3px;
  transition: all .1s ease-in;
}
/* line 27, layout.scss */
.top-bar .menu-btn:hover span:after {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: -6px;
  content: ' ';
  transition: all .1s ease-in;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 37, layout.scss */
.top-bar .menu-btn:hover span:before {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: 0;
  content: ' ';
  transition: all .2s ease-in;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 49, layout.scss */
.top-bar .menu-btn span {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: 50%;
  margin-top: -3px;
  transition: all .1s ease-out;
}
/* line 57, layout.scss */
.top-bar .menu-btn span:after {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: 7px;
  content: ' ';
  transition: all .1s ease-out;
}
/* line 66, layout.scss */
.top-bar .menu-btn span:before {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: -13px;
  content: ' ';
  transition: all .1s ease-out;
}
/* line 75, layout.scss */
.top-bar .menu-btn span.active {
  display: block;
  height: 6px;
  background: rgba(255, 255, 255, 0);
  position: relative;
  top: 50%;
  margin-top: -3px;
  transition: all .1s;
}
/* line 83, layout.scss */
.top-bar .menu-btn span.active:after {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: -6px;
  content: ' ';
  transition: all .1s ease-out;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 93, layout.scss */
.top-bar .menu-btn span.active:before {
  display: block;
  height: 6px;
  background: #FFF;
  position: relative;
  top: 0;
  content: ' ';
  transition: all .2s ease-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 106, layout.scss */
.top-bar h1 {
  font-size: 44px;
  font-weight: normal;
  margin: 3px 0 0 34px;
  display: inline-block;
  font-family: "EastMarket";
  line-height: 44px;
}
/* line 113, layout.scss */
.top-bar h1 a {
  color: #FFF;
  text-decoration: none;
}
/* line 118, layout.scss */
.top-bar .localization {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
}
/* line 123, layout.scss */
.top-bar .localization a {
  font-family: "Roboto";
  color: #FFF;
  font-size: 26px;
  text-decoration: none;
  vertical-align: bottom;
}
/* line 130, layout.scss */
.top-bar .localization img {
  height: 36px;
}

/* line 136, layout.scss */
.wrapper {
  transition: all .2s ease-out;
}
/* line 138, layout.scss */
.wrapper.menued {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -o-perspective: 1500px;
  perspective: 1500px;
  transition: all .2s ease-out;
}
/* line 141, layout.scss */
.wrapper.menued .perspective {
  -webkit-transform: translateZ(-150px) translateX(28%) translateY(-5%) rotateY(-30deg) scale(1.3);
  -moz-transform: translateZ(-150px) translateX(28%) translateY(-5%) rotateY(-30deg) scale(1.3);
  -ms-transform: translateZ(-150px) translateX(28%) translateY(-5%) rotateY(-30deg) scale(1.3);
  -o-transform: translateZ(-150px) translateX(28%) translateY(-5%) rotateY(-30deg) scale(1.3);
  transform: translateZ(-150px) translateX(28%) translateY(-5%) rotateY(-30deg) scale(1.3);
  transition: all .2s ease-out;
}

/* line 149, layout.scss */
.menu {
  background-color: #111;
  box-sizing: border-box;
  left: 0;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: 99;
}

/* line 162, layout.scss */
.user-info img {
  float: left;
}
/* line 165, layout.scss */
.user-info .right {
  float: left;
  margin: 0 0 0 17px;
}
/* line 169, layout.scss */
.user-info h2 {
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
  font-family: "Roboto";
}
/* line 177, layout.scss */
.user-info h3 {
  color: #ccc;
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

/* line 186, layout.scss */
.options h2 {
  border-bottom: 2px solid #b3b3b3;
  font-size: 22px;
  padding-bottom: 8px;
  color: #b3b3b3;
  margin: 66px 0 0 0;
}
/* line 193, layout.scss */
.options ul {
  margin: 0;
  padding: 0;
}
/* line 197, layout.scss */
.options li {
  list-style: none;
}
/* line 199, layout.scss */
.options li.geo {
  background: url(../images/geo2.png) 98% center no-repeat;
}
/* line 203, layout.scss */
.options a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  height: 64px;
  display: block;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #b3b3b3;
}
