/* line 1, layout.scss */
.top-bar {
  background-color: #ff8800;
}
/* line 3, layout.scss */
.top-bar h1 {
  color: #FFF;
  font-size: 49px;
  float: left;
  font-weight: normal;
  margin: 0 0 0 34px;
}
/* line 10, layout.scss */
.top-bar span {
  background: url(../images/menu.png) 0 0 no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 27px;
  margin: 22px 0 0 25px;
  width: 40px;
}
/* line 19, layout.scss */
.top-bar div {
  background: url(../images/geo.png) center right no-repeat;
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 49px;
  padding-right: 43px;
  margin-right: 25px;
}

/* line 30, layout.scss */
.menu {
  background-color: #111;
  box-sizing: border-box;
  left: 0;
  height: 100%;
  padding: 60px 20px;
  position: fixed;
  top: 0;
  width: 514px;
}

/* line 42, layout.scss */
.user-info img {
  float: left;
}
/* line 45, layout.scss */
.user-info .right {
  float: left;
  margin: 0 0 0 17px;
}
/* line 49, layout.scss */
.user-info h2 {
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
/* line 55, layout.scss */
.user-info h3 {
  color: #ccc;
  margin: 0;
}

/* line 62, layout.scss */
.options h2 {
  border-bottom: 2px solid #b3b3b3;
  font-size: 22px;
  padding-bottom: 8px;
  color: #b3b3b3;
  margin: 66px 0 0 0;
}
/* line 69, layout.scss */
.options ul {
  margin: 0;
  padding: 0;
}
/* line 73, layout.scss */
.options li {
  list-style: none;
}
/* line 75, layout.scss */
.options li.geo {
  background: url(../images/geo2.png) 98% center no-repeat;
}
/* line 79, layout.scss */
.options a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  height: 64px;
  display: block;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #b3b3b3;
}
