/* ===========================================================================
 * Timeline
 * =========================================================================== */

@import "compass/css3";
@import "compass/css3/transition";

.single-activity{
    padding: 25px 4%;
    border-bottom: 1px solid #dedede;
    &:last-child {
        border: none;
    }
    .user-data {
        width: 100px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
        padding-top: 8px;
        img {
            border: 1px solid #f1f1f1;
            display: block;
            width: 85px;
            @include box-shadow(#ccc 0px 0px 6px);
        }
        span{
            display: block;
            text-align: center;
            padding-top: 5px;
            font-weight: bold;
        }
    }
    .activity-data {
        width: 70%;
        display: inline-block;
        h2.activity-title{
            margin: 0;
            a {
                text-decoration: none;
                color: #333;
                &:hover {
                    color: #999;
                    @include transition-property(all);
                    @include transition-duration(.2s);
                    @include transition-timing-function(ease-in);
                }
            }
        }
        .activity-description {
            color: #999;
            font-size: 14px;
        }
        .activity-time {
            color: #4d4d4d;
            img {
                width: 2%;
                height: 2%;
                margin-right: 10px;
                color: #ff8800;
                vertical-align: top;
            }
        }
    }
}

.category-menu {
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        float: left;
        display: block;
        width: 20%;
        border-bottom: 8px solid #e9e9e9;
        &:last-child {
            a {
                border-right: 0;
            }
        }
        &:hover, &.selected {
            border-bottom: 8px solid #FF8800;
        }
        a {
            text-align: center;
            color: #000;
            font-size: 28px;
            border-right: 1px solid darken(#e9e9e9, 20%);
            cursor: pointer;
            text-decoration: none;
            display: block;
            padding: 10px 0;
        }
    }
}