!!! 5
//if IEMobile 7
     <html class="no-js iem7">

html(class="no-js", lang="en")
    // <![endif]
    head
        title   Hythloday
        meta(charset='utf-8')

        meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-capable", content="yes")

        // build:css({.tmp,app}) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        //endbuild

    body(ng-app="hythlodayApp")

        .menu(ng-show="sideMenu")
            .user-info.clearfix
                img(ng-src="{{currentUser.avatar}}")
                .right
                    h2 {{currentUser.name}}
                    h3 You are currently in {{localization}}

            .options
                h2 Options
                ul
                    li
                        a(ng-click="go('newActivity')") HAZ UNA PROPUESTA
                    li.geo(ng-controller="LocalizationCtrl")
                        a(href="", ng-click="setLocalization()") LOCALÍZATE [<span>{{localization}}</span>]

        .wrapper(ng-class='{"menued":sideMenu==true}')

            .perspective

                .top-bar.clearfix

                    a(href="", class="menu-btn", ng-click="sideMenu = !sideMenu", ng-class='{"active":sideMenu==true}')
                        span.lines
                    h1
                        a(ng-click="go('home')", title="Hythlodæus") Hythlodæus
                    .localization
                        a(href="", title="localízate", class="localization-btn") {{localization}}
                            img(src="/images/localization.svg", alt="localizate")

                .container(ng-view="")

        script(src="bower_components/jquery/jquery.min.js")
        script(src="bower_components/moment/min/moment-with-langs.js")
        script(src="bower_components/angular/angular.js")

        //build:js scripts/modules.js
        script(src="bower_components/angular-resource/angular-resource.js")
        script(src="bower_components/angular-cookies/angular-cookies.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(src="bower_components/angular-route/angular-route.js")
        script(src="bower_components/angular-touch/angular-touch.js")
        //endbuild

        //build:js({.tmp,app}) scripts/scripts.js
        script(src="scripts/app.js")
        script(src="scripts/services/api.js")
        script(src="scripts/services/user.js")
        script(src="scripts/services/localization.js")
        script(src="scripts/controllers/timeline.js")
        script(src="scripts/controllers/detail.js")
        script(src="scripts/controllers/localization.js")
        script(src="scripts/controllers/newActivity.js")
        script(src="scripts/filters.js")
        //endbuild
