!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
    head
        title= Hythloday
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="For intrepid travellers who want to discover a different way to visit a country or a city this application let know activities proposed by other travellers")
        meta(name="viewport", content="width=device-width")
        // Place favicon.ico and apple-touch-icon.png in the root directory


        // build:css({.tmp,app}) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        //endbuild

    body(ng-app="hythlodayApp")
        //if lt IE 7
            p.browsehappy   You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        //if lt IE 9
            script(src="bower_components/es5-shim/es5-shim.js")
            script(src="bower_components/json3/lib/json3.min.js")

        .container(ng-view="")

        script(src="bower_components/angular/angular.js")

        //build:js scripts/modules.js
        script(src="bower_components/angular-resource/angular-resource.js")
        script(src="bower_components/angular-cookies/angular-cookies.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(src="bower_components/angular-route/angular-route.js")
        //endbuild

        //build:js({.tmp,app}) scripts/scripts.js
        script(src="scripts/app.js")
        script(src="scripts/controllers/main.js")
        //endbuild