!!! 5
//if IEMobile 7
     <html class="no-js iem7">

html(class="no-js", lang="en")
    // <![endif]
    head
        title   Hythloday
        meta(charset='utf-8')
        meta(name="description", content="For intrepid travellers who want to discover a different way to visit a country or a city this application let know activities proposed by other travellers")
        meta (name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(meta http-equiv="cleartype", content="on")

        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="img/touch/apple-touch-icon-144x144-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="img/touch/apple-touch-icon-114x114-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="img/touch/apple-touch-icon-72x72-precomposed.png")
        link(rel="apple-touch-icon-precomposed", href="img/touch/apple-touch-icon-57x57-precomposed.png")
        link(rel="shortcut icon", href="img/touch/apple-touch-icon.png")

        // build:css({.tmp,app}) styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        //endbuild

    body(ng-app="hythlodayApp")
        //if lt IE 7
            p.browsehappy   You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        //if lt IE 9
            script(src="bower_components/es5-shim/es5-shim.js")
            script(src="bower_components/json3/lib/json3.min.js")
        .container(ng-view="")

        script(src="bower_components/angular/angular.js")

        //build:js scripts/modules.js
        script(src="bower_components/angular-resource/angular-resource.js")
        script(src="bower_components/angular-cookies/angular-cookies.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(src="bower_components/angular-route/angular-route.js")
        //endbuild

        //build:js({.tmp,app}) scripts/scripts.js
        script(src="scripts/app.js")
        script(src="scripts/controllers/main.js")
        //endbuild